<html>
	<head>
		<link href="../static/css/style.css" rel="stylesheet">
		<title>LIFT</title>
	</head>
	<body>
		<div class="header">
			<h1 id="short">LIFT</h1>
			<h1 id="extended">Linked data from TEI</h1>
		</div>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="quickstart.html">Quick start</a></li>
				<li><a href="https://linked-data-from-tei.readthedocs.io" target="_blank">Documentation</a></li>
				<li><a href="https://github.com/fgiovannetti/lift" target="_blank">Source</a></li>
				<li><a href="credits.html">Credits</a></li>
			</ul>
		</nav>
		<div class="main">
			<p>Oops! Something went wrong. Please make sure your input TEI XML document follows <a href="https://linked-data-from-tei.readthedocs.io/en/latest/input.html">LIFT's encoding guidelines</a> and reupload it via <a href="quickstart.html">Quick start</a>.</p>
		</div>
		<footer>
				<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/88x31.png"/></a><br/>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>
		</footer>
	</body>
</html>