$def with ()

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>LIFT</title>
		<!-- LIFT LInked data From Tei -- doc TEI dal quale si sollevano come bubbles dati collegati -->

		<!-- Bootstrap core CSS -->
		<link href="../static/script/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom fonts for this template -->
		<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<!-- Custom styles for this template -->
		<!-- <link href="css/grayscale.min.css" rel="stylesheet"> -->
		<link href="../static/css/grayscale.css" rel="stylesheet">
	</head>
	<body id="page-top">
		
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
			<div class="container">
				<a class="navbar-brand js-scroll-trigger" href="#page-top">LIFT</a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					Menu
					<i class="fas fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#about">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#transform">Transform</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#documentation">Documentation</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Header -->
		<header class="masthead">
			<div class="container d-flex h-100 align-items-center">
				<div class="mx-auto text-center">
					<h1 class="text-white mx-auto my-0"><span style="color:#64a19d;">LI</span>NKED DATA <span style="color:#64a19d;">F</span>ROM <span style="color:#64a19d;">T</span>EI</h1>
					<h2 class="text-white-50 mx-auto mt-2 mb-5">Automatically extract, visualize, and download RDF triples from your TEI-encoded texts</h2>
					<a href="#transform" class="btn btn-primary js-scroll-trigger">Get Started</a>
				</div>
			</div>
		</header>

		<!-- About -->
		<section id="about" class="projects-section bg-light text-center">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 mx-auto">
						<h2 class="mb-4">About LIFT</h2>
						<p class="text-black-50">A short description of the project</p>
					</div>
				</div>
				<!-- <img src="img/" class="img-fluid" alt=""> -->
			</div>
		</section>

		<!-- Transform -->
		<section id="transform" class="projects-section bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-lg-8 mx-auto text-center">
						<i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
						<h2 class="mb-5">Upload your TEI file</h2>
						<form method="POST" enctype="multipart/form-data" class="form-inline d-flex">
							<input type="file" id="myfile" name="myfile" accept=".xml, application/tei+xml" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"/>
							<!-- <button type="submit" class="btn btn-primary mx-auto">Upload</button> -->
							<input type="submit" value="Upload" class="btn btn-primary mx-auto"/>
						</form>
					</div>
				</div>
			</div>
		</section>

		<!-- Further contents here -->

		<!-- Footer -->
		<footer class="bg-black small text-center text-white-50">
			<div class="container">
				<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"/></a><br/>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>
			</div>
		</footer>

		<!-- Bootstrap core JavaScript -->
		<script src="../static/script/jquery/jquery.min.js"></script>
		<script src="../static/script/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Plugin JavaScript -->
		<script src="../static/script/jquery-easing/jquery.easing.min.js"></script>

		<!-- Custom scripts for this template -->
		<script src="../static/script/js/grayscale.min.js"></script>

		<!-- Check file size -->
		<script>
			var uploadField = document.getElementById("myfile");
			uploadField.onchange = function() {
				if(this.files[0].size > 307200){
					alert("File is too big!");
					this.value = "";
				};
			};
		</script>

	</body>
</html>