$def with ()

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>LIFT</title>
		<!-- LIFT LInked data From Tei -- doc TEI dal quale si sollevano come bubbles dati collegati -->

		<!-- Bootstrap core CSS -->
		<link href="../static/script/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom fonts for this template -->
		<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<!-- Custom styles for this template -->
		<!-- <link href="css/grayscale.min.css" rel="stylesheet"> -->
		<link href="../static/css/grayscale.css" rel="stylesheet">
	</head>
	<body id="page-top">
		
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
			<div class="container">
				<a class="navbar-brand js-scroll-trigger" href="#page-top">LIFT</a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					Menu
					<i class="fas fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#about">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#transform">Start</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="https://github.com/fgiovannetti/lift" target="_blank">Documentation</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="https://github.com/fgiovannetti/lift/blob/master/README.md" target="_blank">Contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#signup">Credits</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="https://github.com/fgiovannetti/lift" target="_blank">Source</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Header -->
		<header class="masthead">
			<div class="container d-flex h-100 align-items-center">
				<div class="mx-auto text-center">
					<!-- <h1 class="text-white mx-auto my-0"><span style="color:#64a19d;">LI</span>NKED DATA <span style="color:#64a19d;">F</span>ROM <span style="color:#64a19d;">T</span>EI</h1>
					<h2 class="text-white-50 mx-auto mt-2 mb-5">Extract, visualize, and download RDF triples from your TEI-encoded texts</h2> -->
					
					<h1 class=" mx-auto my-0"><span style="color:#64a19d;">LI</span>NKED DATA <span style="color:#64a19d;">F</span>ROM <span style="color:#64a19d;">T</span>EI</h1>
					<h2 class=" mx-auto mt-2 mb-5">RDF graphs out of your TEI digital scholarly editions</h2>


					<a href="#transform" class="btn btn-primary js-scroll-trigger">Quick start</a>
				</div>
			</div>
		</header>

		<!-- About -->
		<section id="about" class="projects-section bg-light text-center">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 mx-auto">
						<h2 class="mb-4">About LIFT</h2>
						<p style="text-align: justify;"><i>Linked data from TEI</i> (short: LIFT) is a Python-based toolkit for extracting RDF triples from TEI documents designed to support the creation of semantic digital scholarly editions. The toolkit is particularly useful to those taking their first steps towards the use of knowledge graphs to enrich TEI-based editions.</p>
						<p style="text-align: justify;">LIFT lets you:</p>
						<ul style="text-align: justify;">
							<li>select what information to extract from your TEI document: you can choose among different extraction options including people, relationships, events, places, bibliographic references, critical apparatus;</li>
							<li>choose a serialization: you can view and download your RDF graph using XML, Notation3 or N-triples;</li>
							<li>customize all extraction scripts: all scripts can be freely downloaded; a step-by-step guide available as a manipulable Jupyter notebook will help you write your own customization.</li>
						</ul>
						<p style="text-align: justify;">LIFT comes with a detailed documentation suggesting further readings and useful resources.</p> 
					</div>
				</div>
				<!-- <img src="img/" class="img-fluid" alt=""> -->
			</div>
		</section>

		<!-- Transform -->
		<section id="transform" class="projects-section bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-lg-8 mx-auto">
							<p style="border:solid 3px lightgray; background:white; text-align:center; vertical-align:center; padding-top: 5px; margin-bottom:15px">For testing purposes, you can download <a href="#transform">this test file</a> <br/> and use it as an input for the extraction.</p>
						<form method="POST" enctype="multipart/form-data" action="">
							<h2>1) Select the information to extract:</h2>
							<input type="radio" id="transform" name="transform" value="1-people"> People</input><br/>
			  				<input type="radio" id="transform" name="transform" value="2-people_ev"> People and events</input><br/>
			  				<input type="radio" id="transform" name="transform" value="3-people_rel"> People and relations</input><br/>
			  				<input type="radio" id="transform" name="transform" value="4-places"> Places</input><br/>
			  				<input type="radio" id="transform" name="transform" value="5-all"> People, relations, events and places</input><br/>
			  				<input type="radio" id="transform" name="transform" value="6-critapp"> Critical apparatus (experimental)</input>
							<h2 style="margin-top:50px;">2) Upload your TEI document:</h2>
							<div class="form-inline d-flex">
								<input type="file" id="myfile" name="myfile" accept=".xml, application/tei+xml" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"/>
								<input type="submit" value="Upload" class="btn btn-primary mx-auto"/>
							</div>
						</form>
				 	</div>
				</div>
			</div>
		</section>

		<!-- Further contents here -->

		<!-- Footer -->
		<footer class="bg-black small text-center text-white-50">
			<div class="container">
				<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="margin-bottom:15px; " src="https://i.creativecommons.org/l/by/4.0/88x31.png"/></a><br/>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>
			</div>
		</footer>

		<!-- Bootstrap core JavaScript -->
		<script src="../static/script/jquery/jquery.min.js"></script>
		<script src="../static/script/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Plugin JavaScript -->
		<script src="../static/script/jquery-easing/jquery.easing.min.js"></script>

		<!-- Custom scripts for this template -->
		<script src="../static/script/js/grayscale.min.js"></script>

		<!-- Check file size -->
		<script>
			var uploadField = document.getElementById("myfile");
			uploadField.onchange = function() {
				if(this.files[0].size > 307200){
					alert("File is too big!");
					this.value = "";
				};
			};
		</script>

	</body>
</html>