$def with ()

<!DOCTYPE html>

<html>
	<head>
		<link href="../static/css/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="header">
			<h1 id="short">LIFT</h1>
			<h1 id="extended">Linked data from TEI</h1>
		</div>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li class="active"><a href="#">Quick start</a></li>
				<li><a href="">Documentation</a></li>
				<li><a href="https://github.com/fgiovannetti/lift" target="_blank">Source</a></li>
				<li><a href="">Credits</a></li>
			</ul>
		</nav>
		<div class="main">
		</div>
		<div class="form-inline" style="width: 100%;">
			<p style="display: inline-block; vertical-align:top; margin-top: 0;  font-size: 100%;">Select the information to extract as linked open data:</p>
			<form method="POST" enctype="multipart/form-data" action="" style="display: inline-block; vertical-align:top;">
				<input type="radio" id="transform" name="transform" value="1-people"> Personal entities</input><br/>
			  	<input type="radio" id="transform" name="transform" value="2-people_ev"> Personal entities and related events</input><br/>
			  	<input type="radio" id="transform" name="transform" value="3-people_rel"> Personal entities and relations</input><br/>
			  	<input type="radio" id="transform" name="transform" value="4-places"> Geographic entities</input><br/>
			  	<input type="radio" id="transform" name="transform" value="5-all"> Personal entities, events, relations, and geographic entities</input><br/>
			  	<input type="radio" id="transform" name="transform" value="6-bibl" disabled="disabled"> Bibliographic references <span style="font-size: 70%; color:#64a19d;">(upcoming)</span></input><br/>
			  	<input type="radio" id="transform" name="transform" value="7-critapp" disabled="disabled"> Critical apparatus <span style="font-size: 70%; color:#64a19d;">(upcoming)</span></input><br/><br/>
			  	<input type="submit" value="Submit" class="btn"/>
			</form>
		</div>
		<footer>
				<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="margin-bottom:15px; " src="https://i.creativecommons.org/l/by/4.0/88x31.png"/></a><br/>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>
		</footer>
	</body>
</html>